<% if defined?(errors) %>
  <div class='errors'>
    <ul>
      <% errors.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Create a survey</h3>

<div id='survey-info'>
  <form class='survey-form' method="post" action='/surveys'>
    <input class="input-field" type="text" name="survey[title]" placeholder="Survey title">
    <input class="input-field" type="text" name="survey[description]" placeholder="Survey description">
    <input type="hidden" name="survey[user_id]" value="<%= current_user.id %>">
    <input id='survey-submit-button' class="submit-btn" type="submit" value="Begin survey">
  </form>
</div>

<div class ="question">
</div>

<div class ="choice">
</div>

<p>
  <a href="/users/<%= current_user.id %>">Complete Survey</a>
</p>
