<h2>Login</h2>
<form method="post" action="/sessions">
  <input type="text" name="username" placeholder="Username" />
  <input type="password" name="password" placeholder="Password" />
  <input type="submit" value="Log in to the Survey Machine" />
</form>

<p><a href="/users/new">Create a new account</a></p>
