<h2>Log In</h2>
<form method="post" action="/sessions">
  <input class="input-field" type="text" name="username" placeholder="Username" required />
  <input class="input-field" type="password" name="password" placeholder="Password" required />
  <input class="submit-btn" type="submit" value="Log in" />
</form>

<p><a href="/users/new">Create a new account</a></p>
