<form class="question-form" method="post" action='/questions'>
  <label for="title">Question: </label>
  <input type="text" name="question[text]">
  <input type="hidden" name="question[survey_id]" value="<%= @survey.id %>">
  <input class='question-submit-button' type="submit" value="Create question">
</form>
