<form class="question-form" method="post" action='/questions'>
  <input class="input-field" type="text" name="question[text]" placeholder="Question text">
  <input type="hidden" name="question[survey_id]" value="<%= @survey.id %>">
  <input class="submit-btn" type="submit" value="Create question">
</form>



