<h3 class="survey-question"><%= @question.text %></h3>

<div class='question-container'>
  <form action='/selections' method='post'>
  <% @question.choices.each do |choice| %>
    <input type='hidden'name='selection[response_id]' value="<%= @current_response.id %>">
      <input type='radio' name='selection[choice_id]' value="<%= choice.id %>" required />
        <span class="radio-label"><%= choice.text %></span>
      <br>
  <% end %>
    <input class="submit-btn" type='submit' value='submit'>
  </form>
</div>
