<h2>Create Account</h2>
<form method='post' action='/users'>
  <input class="input-field" type='text' name='username' placeholder='Username' />
  <input class="input-field" type='password' name='password' placeholder='Password' />
  <input class="input-field" type='password' name='password_confirmation' placeholder='Confirm Password' />
  <input class="submit-btn" type='submit' value='Create account' />
</form>
