<h2>Create Account</h2>
<form method='post' action='/users'>
  <input type='text' name='username' placeholder='Username' />
  <input type='password' name='password' placeholder='Password' />
  <input type='password' name='password_confirmation' placeholder='Confirm Password' />
  <input type='submit' value='Create account and log in to the Survey Machine' />
</form>
