<% if @surveys %>
  <h3>Surveys you created</h3>
    <% @surveys.each do |survey| %>
      <a href='/surveys/<%= survey.id %>/statistics'><h3><%= survey.title %></h3></a>
    <% end %>

  <h3>Surveys you've participated in</h3>
    <% current_user.responses.each do |response|%>
      <p>
        <a href='/surveys/<%=response.survey.id %>/statistics'>
          <%= response.survey.title %>
        </a>
      </p>
    <% end %>
<% end %>
