<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <header class="masthead">

    <nav class="masthead--nav">
      <ul class="masthead--ul">

          <% if logged_in? %>
            <li class="masthead--li">
              <span class='welcome'>Welcome, <a href="/users/<%= current_user.id %>"><%= current_user.username %>! </a></span>
              <form class="masthead--li" method='post' action='/sessions'>
                <input type='hidden' name='_method' value='DELETE' />
                <input class="masthead--li  log-out-btn  link" id='logout' type='submit' value='Logout' />
              </form>
              <a href='/surveys/new'>Create a Survey</a>
            </li>
          <% else %>
            <li class="masthead--li">
              <a href="/users/new">New User</a>
            </li>
            <li class="masthead--li">
              <a href="/sessions/new">Log in</a>
            </li>
          <% end %>

          <li class="masthead--li">
            <a href="/">Home</a>
          </li>
        </ul>


    </nav>

    <h1 class="masthead--logo">
      <a href='/'>Team A1 Survey Machine</a>
    </h1>
    <p class="masthead--tagline">The best sauce!</p>
  </header>

  <main id="content">

    <% if defined?(errors) %>
      <div class='errors'>
        <ul>
          <% errors.each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= yield %>
    </div>

  </main>

  <footer class="footer">
    <p>Created by Eunice Do, Jeff George, Jack Huang, and Arcangelo Petretta</p>
    <p><a href="http://devbootcamp.com/" target="_blank">Dev Bootcamp NYC</a> &bull; Copperheads 2016</p>
  </footer>
</body>
</html>
